In [ ]:
import pandas as pd

In [22]:
lookup=pd.read_csv('rates.csv')
lookup.head()

           Level       Taught by  Credits  Class Size   Pay
0  Undergraduate  Group III: PHD        1           1   $89
1  Undergraduate  Group III: PHD        1           2  $178
2  Undergraduate  Group III: PHD        1           3  $267
3  Undergraduate  Group III: PHD        1           4  $356
4  Undergraduate  Group III: PHD        1           5  $445

In [15]:
def class_size(size):
    if size > 13:
        size=13
    return size

In [36]:
def group_3(level,size,credits,taughtby):
    size = class_size(size)
    level_c=lookup['Level'] == level
    size_c = lookup['Class Size'] == size
    credits_c = lookup['Credits'] == credits
    taughtby_c = lookup['Taught by'] == taughtby
    
    return lookup[level_c & size_c & credits_c & taughtby_c].Pay

In [37]:
group_3('Undergraduate',1,1,'Group III: PHD')

0    $89
Name: Pay, dtype: object